extends layout

block content
    h1=title
    form(method='post', action='/users/login')
        .form-group
            label username
            input.form-control(name='username',type='text',palceholder='Enter username')
        .form-group
            label password
            input.form-control(name='password',type='password',palceholder='Enter password')
        input.btn.btn.primary(name='submit',type='submit', value='submit')

